body {
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.square {
  display: flex;
  flex-wrap: wrap;
}

button {
  padding: 10px;
  margin-left: 50px;
  border: solid 3px black;
  border-radius: 5px;
}
